VITE_SUPABASE_URL=https://ritgthiytavkqqqvsjbh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpdGd0aGl5dGF2a3FxcXZzamJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNDQxOTksImV4cCI6MjA5MjkyMDE5OX0._Q5CYOTyjK8nk_JfAfWI-ugmYxBOfr7V7tmJOpzGrBg
